:root {
    --icon-size: 22px;
    --icon-container-size: 32px;
    --color-link: #70757a;
    --color-footer: #f2f2f2;
}

html {
    font-size: 62.5%;
}

/* links */
.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

/* Typography */
body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

/* icon */
.icon-container, .avata-container {
    align-items: center;
    border-radius: 100%;
    display: inline-flex;
    height: var(--icon-container-size);
    justify-content: center;
    width: var(--icon-container-size);
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

.icon-loupe {
    width: 15px;
    height: 15px;
}

.icon-container:hover,
.avata-container:hover {
    background: rgba(241, 243, 244, 1);
}

/* input */
.input-group {
    align-items: center;
    border-radius: 40px;
    border: 1px solid lightgrey;
    display: flex;
    max-width: 582px;
    padding: 4px 0 4px 20px;
    width: 100%;
}

.input-group:hover {
    box-shadow: 0 0 10px 0 lightgrey;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    margin-left: 15px;
    outline: 0;
}

.input-group__features .icon {
    height: 35px;
    padding: 0 8px;
    width: 35px;
}

.input {
    font-size: 1.6rem;
}

/* buttons */
.btn-group {
    padding: 2.5rem;
}

.btn {
    padding: 1.3rem;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    margin: 0 12px;
}

.btn:hover {
    border-color: lightgrey;
    box-shadow: 0 1px lightgrey;
}

/* lists */
.list {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}

.list__item:nth-child(even) {
    margin: 0 25px;
}

.list__icon {
    width: 14px;
    height: 14px;
}

/* avata */
.avata {
    width: calc(var(--icon-container-size) - 3px);
    height: calc(var(--icon-container-size) - 3px);
    border-radius: 100%;
    cursor: pointer;
}

.avata-container{
    width: calc(var(--icon-container-size) + 2px);
    height: calc(var(--icon-container-size) + 2px);
    margin-left: 15px;
}

/* logo */
.logo{
    margin-top: 60px;
}

.logo__google{
    width: 100%;
    /* max-width: 500px; */
}

/* container */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn-group,
.logo,
.input-group,
.trends-2022{
    align-self: center;
}

.trends-2022{
    margin: 0 0 auto 0;
}

.trends-2022 p{
    margin: 0;
}

.trends-2022 a{
    
}

/* navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
}

.nav__left,
.nav__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__right__right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer {
    background: var(--color-footer);
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.footer a{
    color: var(--color-link);
}

@media screen and (min-width: 600px) {
    .footer {
        grid-template-areas: "main main"
            "sub1 sub2";
    }

    .list:first-child {
        grid-area: main;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        grid-template-areas: "sub1 main sub2";
        justify-content: space-between;
        padding: 0 30px;
    }
}

.website-setting {
    color: var(--color-link);
    cursor: pointer;
}

/* trends 2022 */
.trends-2022{
    
}