:root{
    --icon-size: 22px;
    --icon-container-size: 32px;
}

html{
    font-size: 62.5%;
}

/* Typography */
body{
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/* icon */
.icon-container{
    align-items: center;
    border-radius: 100%;
    display: inline-flex;
    height: var(--icon-container-size);
    justify-content: center;
    margin-top: 16px;
    width: var(--icon-container-size);
}

.icon{
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

.icon-loupe{
    width: 15px;
    height: 15px;
}

.icon-container:hover{
    background: rgba(241, 243, 244, 1);
}

/* input */
.input-group{
    align-items: center;
    border-radius: 40px;
    border: 1px solid lightgrey;
    display: flex;
    margin: 0 auto;
    max-width: 582px;
    padding: 4px 0 4px 20px;
    width: 100%;
}

.input-group:hover{
    box-shadow: 0 0 10px 0 lightgrey;
}

.input-group .input{
    border: 0;
    flex-grow: 1;
    margin-left: 15px;
    outline: 0;
}

.input-group__features .icon{
    height: 35px;
    padding: 0 8px;
    width: 35px;
}

.input{
    font-size: 1.6rem;
}

/* buttons */
